@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Karla:ital@0;1&family=Kumbh+Sans&family=Lexend+Deca&family=Montserrat&family=Outfit&family=Poppins&family=Red+Hat+Text&family=Space+Mono&display=swap');
.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
}
.learn-more p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  background-color: transparent;
}

.learn-more:hover {
  background-color: transparent;
  border: 1px solid white;
}

.learn-more:hover p {
  color: white !important;
}
